<div class="block1" style="height:60px;"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <ul class="foot">
                <li class="title">小马课程培训</li>
                <li ><a href="#">全日制计划</a></li>
                <li >直通计划</li>
                <li >一对一VvIP</li>
                <li >一对一VIP</li>
                <li >小班课程1-4班</li>
                <li >大班课（1-12）</li>
                <li >特约课程</li>
                <li >点题班</li>
                <li >中高考同步课程</li>
            </ul>
        </div>
        <div class="col-lg-3">
            <ul class="foot">
                <li class="title" style="color:#ee6402;">友链交换</li>
                <li ><a href="http://www.xiaoma.net/">雅思培训</a></li>
                <li ><a href="http://www.sanwendaquan.com/zuowen/" target="_blank">优秀作文</a></li>
                <li><a href="http://www.youmeiban.com" target="_blank">游戏设计</a></li>
                <li ><a href="http://www.xiaoma.net/ielts/">雅思培训班</a></li>
                <li ><a href="http://www.izhengshuo.com/">翻译公司</a></li>
            </ul>
        </div>
        <div class="col-lg-3">
            <ul class="foot">
                <li class="title" style="color:#ff0017;">关于小马过河</li>
                <li >提分理念</li>
                <li >公司历程</li>
                <li >师资团队</li>
                <li >家长答疑</li>
            </ul>
        </div>
        <div class="col-lg-3">
            <ul class="foot">
                <li class="title" style="color:#007217;">联系我们</li>
                <li >电话：029-88153442 029-88153443  <br />地址：高新区科技路37号海星城市广场B座30层</li>
                <li ></li>
                <li ></li>



                <li ></li>
                <li ><a href="#"><img src="{{ asset('bundles/xmfront/img/weibo.png') }}"></a>
                    <a href="#"><img src="{{ asset('bundles/xmfront/img/baidu.png') }}"></a></li>
            </ul></div>
    </div>
</div>
<!-- weixin begin-->
<div id="xm_code"></div>
<div id="xm_code_img"></div>

<a class="back-to-top">回到顶端</a>
<!-- <div class="fixediv leftadv">
<div id="BizQQWPA"></div>
</div> -->
<div class="leftfixed">
    <a href="http://ddt.zoosnet.net/LR/Chatpre.aspx?id=DDT19697339&lng=cn&e=%e8%a5%bf%e5%ae%89%e5%b0%8f%e9%a9%ac%e8%bf%87%e6%b2%b3+www.xiaomajiaoyu.net
">
        <img src="{{ asset('bundles/xmfront/img/online_cn.png') }}" alt="">
    </a>
</div>

<style>
    .leftfixed{
        width:160px;
        height:500px;
        position:fixed;
        top:150px;
        left:0px;
        z-index:1000;
    }
</style>
<div class="fixediv rightadv">
    <a href="http://ddt.zoosnet.net/LR/Chatpre.aspx?id=DDT19697339&lng=cn&e=%e6%9d%a5%e8%87%aa%e8%a5%bf%e5%ae%89%e5%b0%8f%e9%a9%ac%e8%bf%87%e6%b2%b3%e7%bd%91%e7%ab%99%e5%92%a8%e8%af%a2
" target="_blank">
        <div id="m">
            <!--  <input
              onblur="if(this.value =='') this.value = '请输入您的电话号码'" onfocus="if(this.value == '请输入您的电话号码') this.value = ''"
              name="phone" value="请输入您的电话号码" id="phone" type="text"> -->
            <img id="anniu" src="http://a.looyu.com/20000577/fff4e64b38f24137b95c7b4360151c01.jpg"
                    />
        </div>
        <div id="zx">
            <!--  <a href="javascript:void(0)" onclick="doyoo.util.openChat('g=10053743');return false;"></a> -->
        </div>
    </a>
</div>

<script language=javascript>
    var LiveReceptionCode_chatexplain_online='来自西安小马过河网站咨询 （http://www.xiaomajiaoyu.net）';
    LiveReceptionCode_chatexplain_online=escape(LiveReceptionCode_chatexplain_online);
    var LiveAutoInvite0='您好，来自%IP%的朋友';
    var LiveAutoInvite1='来自首页的对话';
    var LiveAutoInvite2=' 网站商务通 主要功能：<br>1、主动邀请<br>2、即时沟通<br>3、查看即时访问动态<br>4、访问轨迹跟踪<br>5、内部对话<br>6、不安装任何插件也实现双向文件传输<br><br><b>如果您有任何问题请接受此邀请以开始即时沟通</b>';
    var LR_showminiDiv_no=1;
</script>
<script language="javascript" src="http://ddt.zoosnet.net/JS/LsJS.aspx?siteid=DDT19697339&float=0&lng=cn"></script>

